* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.Container {
  position: relative;
  margin: 0 auto;
  width: 90%;
}

.HorizontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .HorizontalContainer {
    flex-direction: column;
  }
  .Container {
    width: 100%;
    max-width: none;
  }
}
